[Unit]
Description=Run Actual Helper Scripts

[Service]
ExecStart=/actual-helpers/start.sh
WorkingDirectory=/actual-helpers
User=1000
Group=1000

[Install]
WantedBy=multi-user.target
